
.aditem a {
    display: block !important;
    border: 1px solid #CCC;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    transition: all ease 0.4s;
}

.aditem a:hover {
    border-color: rgb(54, 71, 223);
    transform: scale( 1.1 );
}

.imgItem img {
    width: 100%;
    border-radius: 5px;
}

.nameItem {
    color: #000;
    font-weight: bold;
}
