
.container-search {
    width: 100%;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
}

.container-search .home-search {
    width: 100%;
    background-color: #9BB83C;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px rgba( 0, 0, 0, 0.2 );
    display: flex;
}

.container-search form {
    display: flex !important;
    width: 1200px !important;  
}

.container-search form input, form select {
    display: initial;
    margin-right: 5px;
    font-size: 15px;
}

.container-search form input {
    flex: 1;
}

.container-search form select {
    width: 100px !important;
}

.container-search form .btn {
    margin-top: 0 !important;
}

