
.container-search {
    width: 100%;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
}

.container-search .home-search {
    width: 100%;
    background-color: #9BB83C;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px rgba( 0, 0, 0, 0.2 );
    display: flex;
}

.container-search form {
    display: flex !important;
    width: 1200px !important;  
}

.container-search form input, form select {
    display: initial;
    margin-right: 5px;
    font-size: 15px;
}

.container-search form input {
    flex: 1;
}

.container-search form select {
    width: 100px !important;
}

.container-search form .btn {
    margin-top: 0 !important;
}

.container-categorys {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px !important;
}

.container-categorys .body{
    padding: 10px 5px 0 5px;
}

.container-categorys .body .categoryItem {
    width: 25%;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    height: 50px;
    margin-bottom: 10px;
}

.container-categorys .body .categoryItem:hover {
    color: #999;
}

.container-categorys .body img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.container-recents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px !important;
}

.container-recents .body{
    padding: 10px 5px 0 5px;
}

.container-recents .body .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-recents .body .seeAllLinks {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}


