.container-adpage .body {
    display: flex;
    background-color: transparent !important;
    box-shadow: none !important;
}

.container-adpage .BreadChumb {
    font-size: 13px;
    margin-top: 20px;
}

.container-adpage .BreadChumb a {
    display: inline-block;
    margin: 0 5px;
    text-decoration: underline;
    color: #000;
}

.container-adpage .box {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    margin-bottom: 20px;
}

.container-adpage .leftSide {
    flex: 1;
    margin-right: 20px;
}

.container-adpage .leftSide .imgAd {
    width: 950px;
    height: 500px;
    padding: 8px;
    margin-bottom: 8px;
}

.container-adpage .leftSide .imgAd img {
    max-width: 900px;
    height: 500px;
}

.container-adpage .leftSide .imgAd .each-slide {
    text-align: center;
}

.container-adpage .leftSide .infoAd {
    padding: 10px;
}

.container-adpage .leftSide .nameAd {
    margin-bottom: 20px;
}

.container-adpage .leftSide .descriptionAd {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-adpage .leftSide .descriptionAd p {
    font-size: 16px;
}

.container-adpage .leftSide .descriptionAd .title {
    font-size: 18px !important;
    margin-bottom: 10px;
}

.container-adpage .rightSide {
    width: 250px;
}

.container-adpage .rightSide .price-item {
    font-size: 16px;
    font-weight: 400;   
    text-align: center;
    display: block;
}

.container-adpage .rightSide .price-item strong {
    font-size: 20px;
    display: block;
}

.container-adpage .rightSide .contactSellerLink {
    background-color: #5C9BD1;
    color: #FFF;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    transition: all ease 0.4s;
}


.container-adpage .rightSide .contactSellerLink:hover {
    transform: scale( 1.05 );
}

.container-adpage .rightSide .createdBy {
    padding: 10px;
}

.container-adpage .rightSide .createdBy strong {
    font-size: 18px;
}

.container-adpage .rightSide .createdBy small {
    display: block;
    color: #999;
    margin-top: 10px;
}